.block {
  background-size: cover;
  display: table;
}
.block--main {
  @media all and (min-width: 64em) {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    h1 { font-size: 36px; }
  }
}
.block--secondary__wrapper {
  p {
    font-size: 12px;
  }
  @media all and (min-width: 64em) {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    h1 {
      font-size: 18px;
    }
  }
}
.block__copy {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  &:hover {
    .block__copy__inner {
      transform: scale3d(1.03,1.03,1.03);
    }
  }
}
.block__copy__inner {
  background: rgba(0,0,0,0.4);
  padding: 2em;
  max-width: 60%;
  display: block;
  margin: 5em auto;
  color: #fff;
  text-align: center;
  transition-property: transform;
  transition-duration: 0.2s;
  transform: scale3d(1,1,1);
}
