@import "nav.scss";
@import "blocks.scss";
* {
  font-family: "Sanchez", sans-serif;
}
h1, h2 {
  font-weight: 400;
}
.pure-u-1-1 {
  box-sizing: border-box;
}

.navToggleTemp {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 0.25rem 0.5rem;
  display: block;
  background: white;
  font-size: 2rem;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
  cursor: pointer;
}
