@import "blocks.scss";
@import "nav.scss";
@import "typography";
* {
  font-family: "Sanchez", sans-serif;
}
h1, h2 {
  font-weight: 400;
}
.pure-u-1-1 {
  box-sizing: border-box;
}

.navToggleTemp {
  position: fixed;
  bottom: 0.2em;
  left: 0.2em;
  z-index: 2;
  display: block;
  background: white;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 2rem;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  cursor: pointer;
  border-radius: 3px;
}
